$black-color: #2b2b31;
$light-black-color: #333333;

$primary-color: #59a1d0;        // Blue gray
$light-primary-color: #f7fafd;  // Ghost white
$secondary-color: #3480b2;      // Steel blue

$blue-color: #59a1d0;
$dark-blue-color: #2d4970;
$light-blue-color: #c3d6e3;

$green-color: #52ad8c;
$dark-green-color: #27674f;

$red-color: #C86D61;

$yellow-color: #ecc15f;
$gold-color: gold;
$dark-yellow-color: #dbab41;

$sidenav-item-height: 56px;
$sidenav-width: 80px;
$app-padding: 64px;

$grey-color: #a8b2b9;           // Ash grey
$light-grey-color: #dbe6ee;     // Platinun
$heavy-grey-color: #bcbcbc;
$medium-grey-color: #9e9e9e;
$dark-grey-color: #485365;
$light-white-color: #f5f5f5;    // White smoke

$table-border: 1px solid $light-grey-color;
