.mat-menu-panel {
  min-width: 0px !important;

  button.mat-menu-item {
    font: 500 12px "Avenir" !important;
    white-space: normal;
    padding: 8px 16px;
    overflow: unset;
    height: auto !important;

    span {
        vertical-align: middle;
        margin-left: 5px;
    }
    app-icon {
      @include icon-color($light-black-color);
    }

    &[disabled] {
      app-icon {
        @include icon-color($grey-color);
      }
    }
  }
}

.mat-menu-content {
    padding: 0 !important;

    .text-area{
      padding: 0 8px;
    }

    .menu-footer{
      display: flex;
      justify-content: flex-end;
    }
}

.side-menu {
  flex-direction: column;
  display: flex;
  z-index: 1;

  @include elevation;

  .side-menu-title {
    padding: 40px 24px 8px;

    h2 {
      line-height: 28px;
      margin-bottom: 8px;
    }

    p {
      font: 500 14px 'Avenir Next';
      margin-bottom: 24px;
    }

    span {
      margin-bottom: 24px;
      font-size: 13px;
      display: block;
    }

    h4 {
      margin-bottom: 0;
    }
  }

  .side-menu-content {
    flex-direction: column;
    display: flex;

    .menu {
      overflow: auto;
    }
  }
}
