.home {
    .black-header {
        margin-bottom: 56px;

        .escape {
            margin: 0 20px;
            width: 100px;
        }
    }

    .container {
        width: 56%;
        h1{
          text-align: center;
        }
    }
}