<div class="player">
  <div class="botoes-grupo" role="group" aria-label="Basic example">
    <button disabled="index === 0" type="button" class="btn btn-secondary" mat-button>Backward</button>
    <button *ngIf="status === tiposStatus[0] || status === tiposStatus[2]" type="button" class="btn btn-secondary" mat-button>play</button>
    <button type="button" class="btn btn-secondary" mat-button>stop</button>
    <button disabled="maxIndex != null && maxIndex === index" type="button" class="btn btn-secondary" mat-button>Forward</button>
  </div>
</div>