<div class="santos-dumont">
  <div class="lista-logicas" *ngFor="let logica of logicas">
    <p>{{ logica.id }}</p>
    <app-icon *ngIf="logica.concluida" svgIcon="edit"></app-icon>
    <app-icon *ngIf="!logica.concluida" svgIcon="search"></app-icon>
  </div>
  <div>
    Indice: {{ gameIndex }}
  </div>
  <app-player [index]="gameIndex" [maxIndex]="6" 
    (goForward)="goForward()" (goBackward)="goBackward()"
    (setPlay)="play()" (setStop)="stop()" (setPause)="pause()" (setRestart)="restart()"></app-player>
</div>
